#text {
    width: 300px;
    border: 1px solid white;
   }
   #text:hover {
       cursor: pointer;
      }
   #xyz{
       padding-top: 450px;
   }
   #xyz h1{
      text-align: center;
      color: brown;
   }