.item-content{
    padding-top: 10px;
    text-align:center;
}
.item-content i{
    color: black;
}
.item img:hover{
    -ms-transform: scale(1.0); /* IE 9 */
    -webkit-transform: scale(1.0); /* Safari 3-8 */
    transform: scale(1.05); 
}