.container-fluid{
    width: 100%;
}
.header {   
    font-weight: bold ;
    text-align: center;
}
.footer{
    padding-top: 20px;
    background-color: #323232;
    color: #E3E3E4;
}
.contact_icon{
    height: 50px;
    width: 50px;
}
hr{
    border: 1px solid pink;
}
p {
    color: red;
}